// FONT FAMILY
$font-main: var(--font-sans);

// FONT SIZES
$font-size-regular: 14px;
$font-size-heading: 30px;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-bold: 700;

// BACKGROUNDS
$background-body: #ffffff;

// COLORS
$color-text-body: #3b3b3b;
